<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>logView</title>
    <link rel="stylesheet" th:href="@{/webjars/mdui/dist/css/mdui.css}">
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/mdui/dist/js/mdui.js}"></script>
    <style>
        .wrong-border{
            border-top:1px solid #000000;
            border-bottom:1px solid #000000;}
        .keepline{
            width:auto;
            word-break:keep-all;
            white-space:nowrap;
        }
        .hover-on{
            background-color: slategray;
        }
    </style>
</head>
<body class="mdui-theme-primary-indigo mdui-theme-accent-light-blue mdui-appbar-with-toolbar">
    <div class="mdui-container-fluid ">
        <div class="mdui-appbar mdui-shadow-0 mdui-appbar-fixed mdui-appbar-scroll-hide">
            <div class="mdui-toolbar mdui-color-black">
                <span class="mdui-typo-title mdui-text-color-white">日志查看器</span>
                <span id="status" class="mdui-text-color-red " style="font-size:small">已断开</span>
                <div class="mdui-toolbar-spacer"></div>
<!--                <button class="mdui-btn mdui-btn-raised mdui-ripple mdui-color-theme-accent log-watch-btn" onclick="sendMessageToServer('watch')"><span class=" mdui-text-color-white log-watch-span">查看</span></button>-->
                <button class="mdui-btn mdui-btn-raised mdui-ripple mdui-color-theme-accent" onclick="sendMessageToServer('pause')"><span class=" mdui-text-color-white log-pause-span">暂停</span></button>
                <button class="mdui-btn mdui-btn-raised mdui-ripple mdui-color-theme-accent" onclick="clearMsg()"><span class=" mdui-text-color-white log-clear-span">清屏</span></button>
<!--                <button class="mdui-btn mdui-btn-raised mdui-ripple mdui-color-theme-accent" onclick="closeConn()"><span class=" mdui-text-color-white log-clear-span">断开</span></button>-->
                <button class="mdui-btn mdui-btn-raised mdui-ripple mdui-color-theme-accent" onclick="checkUsername('default_user')"><span class=" mdui-text-color-white log-clear-span">发送用户名然后查看</span></button>
            </div>

        </div>
        <div class="mdui-panel" mdui-panel>
            <div class="mdui-panel-item">
                <div class="mdui-panel-item-header ">
                    <div class="mdui-panel-item-title">日志筛选项</div>
                    <i class="mdui-panel-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
                </div>
                <div class="mdui-panel-item-body">
                    <div id="uri-params" class="mdui-textfield mdui-col-xs-1 keepline">
                        <input class="mdui-textfield-input" type="text" placeholder="URI"/>
                    </div>
                    <div id="bstp-params" class="mdui-textfield mdui-col-xs-1 keepline">
                        <input class="mdui-textfield-input" type="text" placeholder="bstp参数"/>
                    </div>
                    <div id="t-params" class="mdui-textfield mdui-col-xs-1 keepline">
                        <input class="mdui-textfield-input" type="text" placeholder="t参数"/>
                    </div>
                    <div id="rpage-params" class="mdui-textfield mdui-col-xs-1 keepline">
                        <input class="mdui-textfield-input" type="text" placeholder="rpage参数"/>
                    </div>
                    <div id="u-params" class="mdui-textfield mdui-col-xs-1 keepline">
                        <input class="mdui-textfield-input" type="text" placeholder="u参数"/>
                    </div>

                    <div id="pattern-params" class="mdui-textfield mdui-col-xs-9 ">
                        <input class="mdui-textfield-input" type="text" placeholder="正则表达式过滤" maxlength="140"/>
                    </div>
                    <div class="mdui-panel-item-actions ">
                        <button class="mdui-btn mdui-btn-icon" mdui-tooltip="{content: '正则表达式方式与参数方式不能同时生效！',position:'left'}"><i class="mdui-icon material-icons">help</i></button>
                        <button id="filter-btn" class="mdui-btn mdui-ripple mdui-btn-raised" onclick="sendMessageToServer('rewatch')">过滤一下</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mdui-container-fluid container_text">
        <div class="log-container">

        </div>
    </div>

    <script type="text/javascript" th:inline="javascript">

        function WebSockf() {

            var WebSock = {};

            WebSock.lastHeartBeat = new Date().getTime();

            WebSock.overTime = 50000;

            WebSock.webSocket = new WebSocket([[${webSocketUrl}]]);

            WebSock.webSocket.onopen = function (ev) {
                console.log("建立webSocket连接");
                $('#status').removeClass('mdui-text-color-red');
                $('#status').addClass('mdui-text-color-green');
                $('#status').text('已连接');

            };

            WebSock.webSocket.onmessage = function (ev) {
                onMessage(ev);
            };

            WebSock.webSocket.onclose = function (ev) {
                onClose(ev);
            };

            WebSock.webSocket.onerror = function(ev) { console.log("webSocket通信异常",ev); };


            return WebSock;
        }

        var webSock = WebSockf();
        var timer = setInterval(checkConn,30000);

        function checkConn() {
            sendMessageToServer("heart");
            var gap = (new Date().getTime()-webSock.lastHeartBeat);
            console.log("时间间隔：{}",gap);
            if (gap>webSock.overTime){
                webSock.webSocket.close();
            }
        }

        function onClose(ev) {
            console.log("关闭webSocket连接");
            $('#status').removeClass('mdui-text-color-green');
            $('#status').addClass('mdui-text-color-red');
            $('#status').text('已断开');
            if (webSock.webSocket.readyState === WebSocket.CLOSED) {
                webSock = WebSockf();
            }
        }

        function onMessage(ev) {
            console.log("接收到Server端发来的消息");
            var data = JSON.parse(ev.data) || {};
            console.log(data);
            var $messageContainer = $('.log-container');
            switch (data.type) {
                //操作暂停按钮
                case 0:
                    if (data.msg === '1') {
                        $('.log-pause-span').html('继续');
                    }else if (data.msg === '0'){
                        $('.log-pause-span').html('暂停');
                    }
                    break;
                //不校验的消息
                case 1:


                    $messageContainer.prepend('<div class="mdui-text-color-black-* keepline log-content"  style="font-size:x-large">'+ data.msg +'</div>');
                    if ($messageContainer.children('div').length>300){
                        console.log("$messageContainer.children('div').length{}:",$messageContainer.children('div'));
                        $messageContainer.children(':last-child').remove();
                    }
                    break;
                //错误的消息
                case 2:

                    var error = data.error;
                    $messageContainer.prepend('<div class="mdui-text-color-red-900 keepline wrong-border mdui-hoverable log-content" mdui-tooltip="{content:\''+error+'\'}" style="font-size:x-large">'+ data.msg +'</div>');
                    if ($messageContainer.children('div').length>300){
                        console.log("$messageContainer.children('div').length{}:",$messageContainer.children('div'));
                        $messageContainer.children(':last-child').remove();
                    }
                    break;
                //正确的消息
                case 3:

                    $messageContainer.prepend('<div class="mdui-text-color-green-900 keepline mdui-hoverable log-content" style="font-size:x-large">'+ data.msg +'</div>');
                    if ($messageContainer.children('div').length>300){
                        console.log("$messageContainer.children('div').length{}:",$messageContainer.children('div'));
                        $messageContainer.children(':last-child').remove();
                    }
                    break;
                //筛选按钮可用
                case 4: enableFilterBtn();
                    break;
                //清屏
                case 5:clearMsg();break;
                case 6:
                    webSock.lastHeartBeat = new Date().getTime();
                    break;
                case 8:
                    sendMessageToServer('watch');
                default:break;
            }
        }

        function sendMessageToServer(msg) {
            switch (msg) {
                case "pause":
                    console.log(msg);
                    webSock.webSocket.send(JSON.stringify({msg:msg}));
                    break;
                case "watch":
                case "rewatch":
                    var uri = $('#uri-params > input').val().trim();
                    var bstp = $('#bstp-params > input').val().trim();
                    var t = $('#t-params > input').val().trim();
                    var rpage = $('#rpage-params > input').val().trim();
                    var u = $('#u-params > input').val().trim();
                    var pattern = $('#pattern-params > input').val().trim();
                    var filterParams = {uri:uri,bstp:bstp,t:t,rpage:rpage,u:u};
                    console.log(filterParams);
                    webSock.webSocket.send(JSON.stringify({msg:msg,params:filterParams,pattern:pattern}))
                    $('#filter-btn').attr('disabled','disabled');
                    break;
                case "heart":
                    webSock.webSocket.send(JSON.stringify({msg:msg}));
                    break;
            }
        }


        function clearMsg() {
            $('.log-container').empty();
        }

        function enableFilterBtn() {
            $('#filter-btn').removeAttr('disabled');
        }

        function closeConn() {
            webSock.webSocket.close();
        }

        function checkUsername(username) {
            webSock.webSocket.send(JSON.stringify({msg:{userName:username}}));
        }

        function isNull(str) {
            if ( str == "" ) {
                return true;
            }
            var regu = "^[ ]+$";
            var re = new RegExp(regu);
            return re.test(str);
        }




    </script>
</body>
</html>